@charset "utf-8";
/* CSS Document */



#wrapper{
	width:800px;
	margin:0 auto;
	
	}

#header{

	height:300px;
	padding-top:20px;
	
	
	}
	
	
	
#logo{
	
	width:96px;
	height:96px;
	margin-left:20px;
	background-image:url(../images/ig.png);
	background-size:contain;
	float: left;
	}	

#nav{
	
	margin-left:65%;
	
	}

#content{

	height:300px;
	padding-top:50px;
	}

#detail{
	
	
	height:100px;
	width:100px;
	margin-left:100px;
	}

#footer{

	height:300px;	
	}